body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    font-size: 20px;
}
form {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-bottom: 8px;
}

lable {
    display: block;
    margin-bottom: 8px;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    font-size: 20px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 5px;
}
