/* General styles */
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #e7e7e7;
    color: #333;
    line-height: 1.6;
}

/* About Us Section */
#about-us {
    max-width: 1200px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 8px;
}


#about-us h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    text-transform: uppercase; 
    
}



#about-us h2, 
#about-us h2 + p {
    margin-bottom: 10px;
    text-align: left;
    color: #444;
    font-size: 20px;
    text-align: center;
}

#about-us p {
    font-size: 20px;
    margin: 10px 0;
    line-height: 1.8;
    text-align: justify;
    color: #555;
}


#about-us div h2 {
    font-size: 22px;
    color: #000;
}

#about-us a {
    display: flex;
    font-size: 30px;
    justify-content: center;
    color: black;
}
#about-us .home a:hover {
    color: red;
    transform: scale(1.5);
}


@media (max-width: 768px) {
    #about-us {
        padding: 15px;
    }

    #about-us h2 {
        font-size: 24px;
    }

    #about-us p {
        font-size: 14px;
    }
}
