/* General styles */
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #f0e4e4;
    color: #333;
    line-height: 1.6;
}

/* About Us Section */
#about-us {
    max-width: 1200px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 8px;
}
#about-us .intro {
    background: rgb(197, 111, 111);
}
.miss {
    background: rgb(173, 165, 150);
}
.value {
    background: rgb(196, 136, 147);
}
.service {
    background: rgb(176, 175, 175);
}
.vision {
    background: rgb(129, 198, 198);
}
#about-us h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    text-transform: uppercase; 
    
}

#about-us .intro, 
#about-us .miss, 
#about-us .value, 
#about-us .service, 
#about-us .vision {
    margin-bottom: 30px;
}

#about-us h2, 
#about-us h2 + p {
    margin-bottom: 10px;
    text-align: left;
    color: #444;
    font-size: 20px;
    text-align: center;
}

#about-us p {
    font-size: 20px;
    margin: 10px 0;
    line-height: 1.8;
    text-align: justify;
    color: #555;
}


#about-us div h2 {
    font-size: 22px;
    color: #000;
}

#about-us a {
    display: flex;
    font-size: 30px;
    justify-content: center;
    color: black;
}
#about-us .home a:hover {
    color: red;
    transform: scale(1.5);
}


@media (max-width: 768px) {
    #about-us {
        padding: 15px;
    }

    #about-us h2 {
        font-size: 24px;
    }

    #about-us p {
        font-size: 14px;
    }
}
